*{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
.container{
    width: 95%;
}
.header .logo img{
    width: 120px;
    height: auto;
} 
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu-head ul{
    display: flex;
}   
.header .menu-head ul li{
    display: flex;
    list-style: none;
}
.header .menu-head ul li a{
    margin-left: 60px;
    text-decoration: none;
}
.banner img {
    width: 100%;
    height: auto;
}
.body {
    display: flex;
}
.navigation .comment .comment-img img{
    width: 120px;
    height: auto;
}
.navigation .article a{
    text-decoration: none;
}
.desc a {
    text-decoration: none;
}
.footer{
    display: flex;
    background-color: #846BCF;
    padding: 32px;
    margin-top: 32px;
    width: auto;
    height: auto;
}
.product-img img{
    width: 200px;
    height: auto;
}
.products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.article {
    width: 200px;
}
